.tutorial-container {
    width:100%;
    max-width:800px;
    max-height:150px;
    border:1px solid rgba(40,40,40, 0.4);
    box-shadow:1px 5px 8px -8px rgba(0,0,0, 0.9);
    padding:12px;
    margin:12px;
}

