@import "./styles/reset.css";
/*
@import "./styles/atoms/cbs-layout.css";
@import "./styles/atoms/cbs-colors.css";
@import "./styles/atoms/cbs-grid.css";
@import "./styles/components.css";
@import "./styles/atoms/cbs-components.css";
@import "../node_modules/semantic-ui-css/semantic.css";
@import "./styles/modules/glide.core.min.css";
@import "./styles/modules/glide.theme.min.css";
@import '~semantic-ui-css/semantic.css';
@import "./styles/atoms/cbs-components.css"; 
@import "./styles/react-transitions.css";
*/
@import "./styles/forms.css";
@import "./styles/atoms/cbs-fonts.css";


/*
@import "./styles/themes.css";

@import "./styles/fonts.css";
*/

:root {
    --navbar-height: 75px;
}
html, body {
    width:100vw !important;
    overflow-x: hidden !important;
    height:auto;
    min-height: 100vh;
    margin:0;


}

.App {
    position: absolute !important;
    left:0 !important;
    right:0 !important;
    display: flex;
    min-width: 100%;
    min-height: 90vh;
    flex-direction: column;
    /*font-family: "Open Sans", sans-serif;*/
    font-size: 16px;
    scroll-behavior: smooth !important;
}
.adsbygoogle {
    height: auto;
    /*
    min-height: 150px !important;
    */
    min-width: 300px !important;
    min-height:100px;
    width: 100%;
    margin:16px 8px;
}



.page-container {
    position: relative;
    width: 99vw;
    height: auto;
    color: var(--font-color);
    background: var(--bg-color);
}
a {color:var(--color-dark);}


.content-container {
    position: relative;
    height: auto;
    width: 100%;
    top: -10px;
    height: 100%;
    padding: 0vw 3vw 3vw 3vw !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-light);
    /*
    background: -webkit-linear-gradient(to top, #E9E4F0, #D3CCE3); 
    background: linear-gradient(to top, #E9E4F0, #D3CCE3);
    color: rgba(240, 240, 240, 1);
    background-image:url("https://cbs-static.s3.eu-west-2.amazonaws.com/static/images/figma/patterns.svg");
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    */
}
span[data-forhalf]{
    text-shadow: 0px 1px 1px black;
}
div#left-col {
    padding: 1vw 1vw 1vw 1vw;
}

div.content-container[screen="S"] {
    padding: 1vw 3vw 1vw 3vw;
}

div.content-container[screen="M"] {
    padding: 1vw 1vw 1vw 1vw;
}

div.content-container[screen="L"] {
    padding: 1vw 3vw 1vw 3vw;
}

.container-header {
    text-decoration: underline;
    margin: 10px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
}

.loading-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.disable-section {
    margin: 10px;
    border-color: #303743;
    padding: 5px;
    z-index: 2;
    pointer-events: none;
}

.active.f-icon.fa-plus {
    color: var(--color-green-light);
}

pre {
    margin:2px 0px;
}
p{
    line-height: 1.8rem;
    word-spacing: 4px;
}

h3 {
    margin-top:8px !important; 
}


.social-share-box > a {
    max-width: 30%;
}


.triangle-bottomleft {
    width: 0;
    height: 0;
    border-bottom: 100px solid red;
    border-right: 100px solid transparent;
  }






@media all and (max-width: 480px) { 
    .social-share-box span {
        font-size:12px;
    }

}
.social-share-box span {
    font-size:14px;

}
.social-share {
    width:100%;
}


/* GRADIENT COLORS*/
.unmatched-red {
    background: rgba(232,69,69);
    background: linear-gradient(60deg, #2B2E4A 0%, #2B2E4A 30%, #E84545 calc(30% + 1px), #E84545 60%, #903749 calc(60% + 1px), #903749 70%, #53354A calc(70% + 1px), #53354A 100%);
}
.unmatched-eclipse {
    background: rgba(232,69,69);
    background: linear-gradient(55deg, #212121 0%, #212121 40%, #323232 calc(40% + 1px), #323232 60%, #008F95 calc(60% + 1px), #008F95 70%, #14FFEC calc(70% + 1px), #14FFEC 100%);
}
.unmatched-virtual {
    background: rgba(232,69,69);
    background: linear-gradient(65deg, rgb(7, 26, 82) 3%, rgb(7, 26, 82) 40%, rgb(8, 105, 114) calc(40% + 1px), rgb(8, 105, 114) 60%, rgb(23, 185, 120) calc(60% + 1px), rgb(23, 185, 120) 68%, rgb(167, 255, 131) calc(68% + 1px), rgb(167, 255, 131) 100%);
}
.unmatched-orange {
    background: rgba(232,69,69);
    background: linear-gradient(40deg, #155263 9%, #155263 43%, #FF6F3C calc(43% + 1px), #FF6F3C 52%, #FF9A3C calc(52% + 1px), #FF9A3C 80%, #FFC93C calc(80% + 1px), #FFC93C 100%);
}
.unmatched-blueish {
    background: rgba(232,69,69);
    background: linear-gradient(301.28deg, #FF0000 0%, #1D0027 100%), linear-gradient(121.28deg, #207A00 0%, #950000 100%), linear-gradient(238.72deg, #FFB800 0%, #000000 100%), linear-gradient(238.72deg, #00D1FF 0%, #A80000 100%), linear-gradient(125.95deg, #00E0FF 10.95%, #87009D 100%), linear-gradient(263.7deg, #B60000 3.43%, #B100A0 96.57%), linear-gradient(320.54deg, #800000 0%, #00C2FF 72.37%), linear-gradient(130.22deg, #8FA600 18.02%, #5A31FF 100%);
    background-blend-mode: difference, color-dodge, difference, lighten, color-dodge, difference, difference, normal;
}
.unmatched-yarn {
    background: #3D33CC;
    background: linear-gradient(288deg, #FFB6B9 0%, #FFB6B9 35%, #FAE3D9 calc(35% + 1px), #FAE3D9 45%, #BBDED6 calc(45% + 1px), #BBDED6 65%, #61C0BF calc(65% + 1px), #61C0BF 100%);
}
.unmatched-purple {
    background: #3D33CC;
    background: linear-gradient(123deg, #461B93 0%, #461B93 40%, #6A3CBC calc(40% + 1px), #6A3CBC 60%, #8253D7 calc(60% + 1px), #8253D7 70%, #F78F1E calc(70% + 1px), #F78F1E 100%);
}


/* CBS Custom Css*/
.movie-search-card:hover {
    background-color: rgba(180,180,180, 0.9);
}
.cover-link:hover {
    background-color: rgba(255,255,255, 0.01) !important;
}

.content-similar-movie-card:hover .content-similar-movie-card-info {
    text-decoration: underline;
}

.recommendation-similar-movie-card:hover .recommendation-similar-movie-card-info dt {
    text-decoration: underline;
}
#plus-loader-container {
    width:20vw;
    height:20vw;
}


.other-films-of-director{
    background-color: #ff9d00;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='53.4' stroke-opacity='0.13' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
/*
.ordered-topic-card p {
    font-size:14px !important;
    line-height: 20px;
    position: relative;
}
*/

/* BLOCKQUOTE */
.blockquote-wrapper {
    background-image: linear-gradient(to right top, #ffffff, #eeeeee, #dedede, #cecece, #bebebe);
}
