boto3==1.9.4
botocore==1.12.4
Cython==0.29.2
Django==2.0.5
django-cors-headers==2.4.0
django-countries==5.3.3
django-environ==0.4.5
django-extensions==2.1.2
django-filebrowser==3.11.1
django-grappelli==2.12.1
django-graphql-jwt==0.1.13
django-import-export==1.1.0
django-imagekit==4.0.2 
django-mysql==2.4.1
django-redis==4.9.0
djangorestframework-jwt==1.11.0
docker==3.5.0
docker-compose==1.21.2
docker-pycreds==0.3.0
django-storages==1.7.1
graphene==2.1.3
graphene-django==2.2.0
graphene-file-upload==1.2.2
graphql-core==2.1
jsonschema==2.6.0
mysqlclient==1.3.13
numpy==1.15.1
Pillow==5.2.0
PyJWT==1.6.4
redis==2.10.6
requests==2.18.4
s3transfer==0.1.13
six==1.11.0
termcolor==1.1.0
tqdm==4.26.0
urllib3==1.22
