files:
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIPassAuthorization On

  "/etc/httpd/conf.d/ssl_rewrite.conf":
      mode: "000644"
      owner: root
      group: root
      content: |
          RewriteEngine On
          RewriteCond %{HTTP_HOST} ^www\.pixly\.app$
          RewriteRule ^/?$ "https\:\/\/pixly\.app\/" [R=301,L]
