packages:
  yum:
    mod24_ssl : []
    
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        
        WSGIScriptAlias / /opt/python/current/app/djaws/wsgi.py
        
        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app \
          python-home=/opt/python/run/venv \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
        
      </VirtualHost>
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE REQUEST-----
      MIIC8DCCAdgCAQAweTELMAkGA1UEBhMCVUsxDzANBgNVBAgMBkxvbmRvbjEVMBMG
      A1UEBwwMRGVmYXVsdCBDaXR5MQ4wDAYDVQQKDAVQaXhseTESMBAGA1UEAwwJcGl4
      bHkuYXBwMR4wHAYJKoZIhvcNAQkBFg9waXhseUBwaXhseS5hcHAwggEiMA0GCSqG
      SIb3DQEBAQUAA4IBDwAwggEKAoIBAQDETW6mO/Z5Yaypaj/inZFjvlpVagf9xAy/
      C5K+PpIQrkfmXNvKo2R8X2K8WQX0bkJHdZ3RcTB5Ots2Kngtw5L3RqMq7ILHvDkN
      x1WIxZpXr1xtC4UbKnS4Uo2G25Yxn70wx0x69XCfU+IBeBe8zoZMj2+/g/eYshiN
      b6mXoscUrp57GKDpqqqUjckr7WbLeWRZSABPPHQh8MWIEM0QiekUykRu05lFYo/V
      3c1bD19F/pImRSzcmfAFWJBshTsGqt4ClrUwylpth9GDKvXEqWVE07ikOwwLC08K
      5xGzfIk/Rhjb6MHR+6yohsOC/n825G4iCCmR8fS55us2CtT8cjaDAgMBAAGgMjAU
      BgkqhkiG9w0BCQIxBwwFcGl4bHkwGgYJKoZIhvcNAQkHMQ0MCzA2MzAxOTg3Q2Jz
      MA0GCSqGSIb3DQEBCwUAA4IBAQB0bv4lW7EdSkVHhv3fhsePP2DQxOLvxrf7nchq
      HtwjJNhxktVoOyAfCzhsnVrrGhk0m0CwgMRt6yezowVjVEf1Q1/0JMG/nnWkyrCG
      xf7AOQ494Ai7gvaxbZRCEq15c8scx75O53R2Ki2XHh3PGh88Dz7JkuEmmO5h8GDW
      lDO5uOEKka17kDKGztimPxbmXAm7ofDQyjdwqaHV7RH4mdeq+N6OrBW24GlGqczO
      X48B9ORy7uBUjwHFjBa3DXafXtbsW0U5ND08yVSrtRsoQVnO2vA1svK/nFw73wcs
      CRuG1Y+OD8JpDT0HrwP8EzsLdiczHBC24dUA6pershB5HgVj
      -----END CERTIFICATE REQUEST-----

       
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAxE1upjv2eWGsqWo/4p2RY75aVWoH/cQMvwuSvj6SEK5H5lzb
      yqNkfF9ivFkF9G5CR3Wd0XEweTrbNip4LcOS90ajKuyCx7w5DcdViMWaV69cbQuF
      Gyp0uFKNhtuWMZ+9MMdMevVwn1PiAXgXvM6GTI9vv4P3mLIYjW+pl6LHFK6eexig
      6aqqlI3JK+1my3lkWUgATzx0IfDFiBDNEInpFMpEbtOZRWKP1d3NWw9fRf6SJkUs
      3JnwBViQbIU7BqreApa1MMpabYfRgyr1xKllRNO4pDsMCwtPCucRs3yJP0YY2+jB
      0fusqIbDgv5/NuRuIggpkfH0uebrNgrU/HI2gwIDAQABAoIBAF3EgwtC70wx3PEc
      AKI2FAHqJmpQeLq+EDydwZ3Ac7MmHNAsIQ0dmV1Tju1bNN36YQyTYSxvffEarSWl
      ibyKhEQ76KsTSLEx9qrfQbtQcJZb/LFV5GICmLiHLnVxpL/VhuCrApxla0OgJQAA
      po4YtMwTZBS+a+HziIjfAsqdBa2ZmX++kLu9uxOE+KBgoAjs52iHfoZv8LvBJ4e3
      ZE0hDm6TVivWR6ZN87h6EyoIENnAWWQ1fVn30vIcTLXM1acg/Z9Tve0J3TLhOxu5
      zCKBxWZE610y4SKbshFWfipHwqmu0mBCwP6SNvu/2bZKLOmxqp3c+EcpBFjYaCib
      r7KPjjECgYEA5WOeu42+pPEgoEr2IEVe0QkagTDJrtXd1JRIvrfMkFN8AmP38yl3
      GrgHWRjnNr85Sw/Hk0iI3s2N3T0uxG3w11eGblfHnPGTCmFopHhfIAeAWYnJGOOK
      ytLWjGr/4xPUDaPIckjPUpwpMj0CpYS4bZ5EeTlZ65r92kFK7IZ5GbkCgYEA2xM0
      +J1lcdN6Rn7GfAiaQgQcRBGptNq/50mSyXZfUvwWlj7t582dPyQN6ugN2hac8+aS
      IRolMWwA+edvjoACOFHuz9lU0zbV5CFJGAcZo5WTZ7i2aPcRQ0Ws+HNDu8FFinIe
      6QTIxLvRQq93uR4SF8JiPDLNgT4kiKS1X29QgBsCgYEAqdApviacr3Zh9MgJlLJG
      EvFuUZ1QcMGaSrjLcYSXR3DGKO7gq35S0dDSf77Ty8+cFllEIWBdErORBes5J+lL
      ld8RgbYx65lahSC/WqJRqWBkP+Sknmw0XxneAm1jqTMQlFhfF1uXP0yjorFPuECc
      V2oGvscaLjS7IEudr6ONGuECgYBZciAgmfL/ZH76JWzY25JP/emkiSmnI+FSh6Gd
      C+2jrjVypsLv7+2SCCB+lryBHNZ8ZtmnFku1QAmt/yZ3IiDF6f39cxjFHBB8knKL
      kuqO9dU3dh1UAfxUYTBcSIORNzozaqDgNwnZ+W1ZMtdJB9QPS1hch8mMSVkVSVqc
      WpCdnQKBgQCO+wwpPmG9hq5+G7TxzJu6051ws4Y0KLEMRxePvY6y7pQRIlyO0wTs
      33a+gNJck3VKgnx+IcciXOqOO8g3IdTPqcnl6UyEbvu/wi/jKwMIFhlP1SmOv8vr
      41izhgwWFKG17bcFwQcLfrnexAmI8qQnwxvM/EpNBi/gIQI5dxav6Q==
      -----END RSA PRIVATE KEY-----

      
container_commands:
  01killhttpd:
    command: "killall httpd"
  02waitforhttpddeath:
    command: "sleep 3"