packages:
  yum:
    mod24_ssl : []
    
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        
                WSGIScriptAlias / /opt/python/bundle/6/app/djaws/wsgi.py

        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app \
          python-home=/opt/python/run/venv \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
        
      </VirtualHost>

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIICVTCCAT8CAQAwFDESMBAGA1UEAwwJcGl4bHkuYXBwMIIBIjANBgkqhkiG9w0B
      AQEFAAOCAQ8AMIIBCgKCAQEArzZQiDyvbtMQfafYHVgWVaQVKSpbdxl74v+WvWCr
      aWatQW1HOyKOTpEPSCTWPlxk4tm0FsIMRC5f6kn+a4vT85NPsF0V6fOw0g7dhw2i
      lARtDZF4YxIPwC+RVDbPDxkVMeJUBsQnORS2bd4wC+9vk6EoAjnJIqdGWOkxzawn
      807uKHxN5Gsg8528u8jGQBlH34Ef4FiTJRaT3y3SRqeuY4YO8gOJIcUJF5KDQrbx
      Ev6X7VctsSrI9F/ZwkCNkbitmXjOUEYNLGQepRGDCMoYBrK8IRXoFKCwCfzyON+p
      Ya5iV0GJUpUzTCpO1x2VLrMIGV0p7kIevQL/qgs3VGtLSwIDAQABMAsGCSqGSIb3
      DQEBBQOCAQEATT2HPXUc9dTy51DxGh7TUgzoFGKUqwPr0S/J/1BN47w6tNecUwDZ
      peMTRWfUA5MFGrc4xlFfEpEPncaZWr9H64HzJhNhAWnDHXvOX1XUuWUjOG4WY0wa
      NC19zq34jIngQ8peQJM1OZaYhYz2iyaPVLda5IEsmdwR6mdX4gku1r62MaHWQurG
      VDv4Q+VQJH/O9K0CMXEm6wmtHnV8o/eOOcX7tgXXfPs/PQusBt6eYYuhl00K7wok
      Uycgfftuf+CBTqDCq7oGtKVxMXiKWjFY36X1quLaG7yTvTNMNVz2KBpNUOZZ2zA+
      a1PNXU9JFTCKW7EIhAKCmYBlfJoSvyS9Dw==
      -----END CERTIFICATE-----
       
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQCvNlCIPK9u0xB9
      p9gdWBZVpBUpKlt3GXvi/5a9YKtpZq1BbUc7Io5OkQ9IJNY+XGTi2bQWwgxELl/q
      Sf5ri9Pzk0+wXRXp87DSDt2HDaKUBG0NkXhjEg/AL5FUNs8PGRUx4lQGxCc5FLZt
      3jAL72+ToSgCOckip0ZY6THNrCfzTu4ofE3kayDznby7yMZAGUffgR/gWJMlFpPf
      LdJGp65jhg7yA4khxQkXkoNCtvES/pftVy2xKsj0X9nCQI2RuK2ZeM5QRg0sZB6l
      EYMIyhgGsrwhFegUoLAJ/PI436lhrmJXQYlSlTNMKk7XHZUuswgZXSnuQh69Av+q
      CzdUa0tLAgMBAAECggEAGNQij1vCJHtGX/gT+PyNla89zGqTMYpr8tvzOXzkbXg+
      XwIkUO3xqpKFztxhe87OAROGoJ747ASCVQoNQqI6885RQZW/UDrXOL0giU3WVxFV
      ftG5dJiPoNVcy8lEiEgup7YB4D+Vq1ITE/ijaF2SuyHgMIiNxxpbLqhFBXc65hBy
      Rmr+fJ5mTv4tHJvGtOB5/Vg/vkWzNGKD2hvUPFzE0PsxmXr8BEtA6Pv0EDeswR0n
      5u02VJeQbTgXjSKs+3e+UcHwyd+6R28YkIKjbbISUT5X9L5VF352IKEhwWaULgP4
      v4ayC9CwB+yrqgOPyFS8v3L0MyHi2iBz1lR9Pfm00QKBgQDZDudmyPtN3rctu99g
      6YHP+bhkqhoNoU+cd1++YQ2NdZYN4giZso8XGm7gRt8u6UvUl7oJcj63sFj2JvYC
      W90SGIMqbXMSjHOhykRrAz3Sdg+RbPNzqTuZF6yeOvLSz9rJdkwnQQIX5hJujMV9
      bOE27fq3kXry489BsSSPrqpPWQKBgQDOpX8Lx6QePeCE1X3av7ibDGWMa0SSojCJ
      Ek5NcryittyN9U7w40DwMMXip7hq12sCgxf3SsAnvM3j4EDrkzq91iEmokd+aRn5
      RKyfm1MZyE0hMPFdhHbTGwVP3rY+HdO91Iq3etOkU7ATfPKvbMsk4Wg+wfDSs5gx
      AjyWi0rfQwKBgBTebvcd6bOB70CxaHer27RAQS9Ef37B/KKBg64NLL1mCchJ7CPC
      3CkPfIuJpNmgyo6lC9juqAMHLHZ2Jn7xkB62Rp4kqcSlxlRO2ycix6Xdff+wZvO+
      2KEOeqU367LDEzj9a7L2eBoOH8WLOU2m0zxxwwI1NYn2xy18t5Qs6ej5AoGAOqrF
      jOSa9XL/wPaTin0PvgUg92KkzzR4rxGhZV+DqnZb23mfdcgu8YIHTDftpXePC+GH
      9k8kiqORmHZcOAVOkgKu2rcLsRnJo/kZQR7p0tIJA7lPbQtkaL6tHWXPO4dgS+6B
      i2G1oFuaC45Xn/I1Ij1USSzqYAdY1+EYrmzRTt0CgYBtHj+FmzwhAsj/qU/t6PnR
      RjmhdlQYMRfT2Ky4AYYE0fkwhxWDxjTR/dA1aTsDOvxl6PdpEULhyHM7H5BcZA9h
      DEJoh4afYx1afh3+PxhI5p30H++km6zTgrjhprOdG6IsrT5P2nUOaGuK+kjubh91
      XbiCyBWXDjQZvQryS+zOiA==
      -----END RSA PRIVATE KEY-----
      
container_commands:
  01killhttpd:
    command: "killall httpd"
  02waitforhttpddeath:
    command: "sleep 3"