packages:
  yum:
    mod24_ssl : []
    
files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule wsgi_module modules/mod_wsgi.so
      WSGIPythonHome /opt/python/run/baselinenv
      WSGISocketPrefix run/wsgi
      WSGIRestrictEmbedded On
      Listen 443
      <VirtualHost *:443>
        SSLEngine on
        SSLCertificateFile "/etc/pki/tls/certs/server.crt"
        SSLCertificateKeyFile "/etc/pki/tls/certs/server.key"
        
        Alias /static/ /opt/python/current/app/static/
        <Directory /opt/python/current/app/static>
        Order allow,deny
        Allow from all
        </Directory>
        
        WSGIScriptAlias / /opt/python/current/app/djaws/wsgi.py

        <Directory /opt/python/current/app>
        Require all granted
        </Directory>
        
        WSGIDaemonProcess wsgi-ssl processes=1 threads=15 display-name=%{GROUP} \
          python-path=/opt/python/current/app \
          python-home=/opt/python/run/venv \
          home=/opt/python/current/app \
          user=wsgi \
          group=wsgi
        WSGIProcessGroup wsgi-ssl
        
      </VirtualHost>

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDcjCCAloCCQCBogXup2QyLTANBgkqhkiG9w0BAQsFADB7MQswCQYDVQQGEwJU
      UjERMA8GA1UECAwISXN0YW5idWwxETAPBgNVBAcMCElzdGFuYnVsMRIwEAYDVQQK
      DAlwaXhseSBsdGQxEjAQBgNVBAMMCXBpeGx5LmFwcDEeMBwGCSqGSIb3DQEJARYP
      cGl4bHlAcGl4bHkuYXBwMB4XDTIwMDMxOTE0MjAxM1oXDTIxMDMxOTE0MjAxM1ow
      ezELMAkGA1UEBhMCVFIxETAPBgNVBAgMCElzdGFuYnVsMREwDwYDVQQHDAhJc3Rh
      bmJ1bDESMBAGA1UECgwJcGl4bHkgbHRkMRIwEAYDVQQDDAlwaXhseS5hcHAxHjAc
      BgkqhkiG9w0BCQEWD3BpeGx5QHBpeGx5LmFwcDCCASIwDQYJKoZIhvcNAQEBBQAD
      ggEPADCCAQoCggEBAL44NX7OIFAiSc46NTP7KWcXDQ1Pr3aUgX4Eul1Z0kYCAYAr
      txfcQvJiaOkbERUzV9oNra1fdjYEM4RMixiWagB7yfefqEHM965xCVGJyfYvfcnt
      e1DjqHZ/QR4C0xcD0g03NcsMt+oxSx12vwdcMB1LLixsixarq9Dlnj+Iw+5i2uz3
      M0jS/33NYjSYbeIxhU937GEazfI95l0O2KTtuahG03n3OPmzUjD4CUpN97n7kQ1s
      JRZnJ5IbOYdNFS4QMIRnwUCvlz7fezUZycAkt6JqGK+dzHDLB18vwc3/4kR7U1hs
      P3RzlClX1/X8qIWY8fTVc/bA+WSFfhoq3DI434cCAwEAATANBgkqhkiG9w0BAQsF
      AAOCAQEABJAOt2ZCMkUheVy4Vr7aFdyYVAVgwDLa/83AB3JJecNF28Dd9iCfPXPZ
      E7XWLn5XogjoU4OUuYXUyyBsA45EBbwwvjnQSSnoyOi6vsxpyH6dA9fspT6QQVOX
      2kV9eHUnDM3IFSkR/2z3vq6pr0VHPADLgZNWljACZy4JvM5VPH9IgTiHdCVUw7Yb
      ZCKEQQsC3a3n8zTk7VRUFY8lIxsF0SEFjfPPURTDhKXvKUsqv1qGNVgclfCt4LyI
      XDSNWhHtvrJMFgkcYp2KObLZkvkQr7EX6GD2mBEMuLYWI3tM5i/BVhbsk9BLe2A3
      WlQhtntryf1A9alrf4OKSGp0xq4dLQ==
      -----END CERTIFICATE-----
       
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAvjg1fs4gUCJJzjo1M/spZxcNDU+vdpSBfgS6XVnSRgIBgCu3
      F9xC8mJo6RsRFTNX2g2trV92NgQzhEyLGJZqAHvJ95+oQcz3rnEJUYnJ9i99ye17
      UOOodn9BHgLTFwPSDTc1ywy36jFLHXa/B1wwHUsuLGyLFqur0OWeP4jD7mLa7Pcz
      SNL/fc1iNJht4jGFT3fsYRrN8j3mXQ7YpO25qEbTefc4+bNSMPgJSk33ufuRDWwl
      Fmcnkhs5h00VLhAwhGfBQK+XPt97NRnJwCS3omoYr53McMsHXy/Bzf/iRHtTWGw/
      dHOUKVfX9fyohZjx9NVz9sD5ZIV+GircMjjfhwIDAQABAoIBAQCG0ewIjiwU39iT
      1Gm1CAUWTh4wGxRv5V3KZat5UppYiD9sCo/g13qTtPBKl6aJ8jQIFr3MLebo7h1d
      XasQqDtFUHebjIuC57V87B0Ar7p3RL3RCwLmGBVkt1j93l6i51BPkZwM6FzKHlnw
      7iMDInHvsUNutRf334ENtFFvEo5cPHbME25k8A1a1L7RTAsNa4iFG4KtIGvgREoL
      afeC1TPyWZZ83O1/TwXGvsEMjRZ1fsCV4veV5xBHdWeNluZs+NRa3v+fYCbfe7Hs
      sIZoYGD4yn45sfWoxLoWPdKg9lAJwpnOtMECYJEz9d3sKJrgH+1KDGEUX3UlxWEk
      Md6Xp6OhAoGBAO6vIxwn+ms+zR64nVG21n0zZ7xZDSIZazawJCJ9WAFdvOUboCq0
      eVWUnOD3tW48WQpw6QPO1efNRx4Ge2zlSCzetRoMvzzpzYHH0ZT957osZVkB+93+
      fHz4Hq0VzcSdduWCBmuSdL1ys30pGRLAGNnF6mfqLLB5mrVBFSdklOzfAoGBAMwE
      +9AvTiIwueiDtso9xWlCY39m131ZjhoUC1VWs9n06CAtW9wPp15+JraNF5EoxrOa
      JRO3it2yp21fpkLjWCkajVPvog7UWFiMwphU/SaXRtWtp1BjrXwRYKMmN902v6Da
      mvVMDqtkRnQpyNxNFcM7cRCQc2KPe1Gm4dzUODpZAoGAa3mFL7p4si3XIwwyGodf
      0YSCI3ddyIr1keyCeN1D8WmKEwf7eP9G21hNw6cGlRqrZV4uLj7GZtgyO7zjesdL
      Vpj5pz8yJXWJyfR11Mb3vwcao5eXGADtgUAgYAO/YdcdoH6J8YpC8sNhOux0k9LX
      3ceWoy/464X2OcOSiOhrfrUCgYBxTvtDvmIYnxNBTZXBcNkpApQb99QKbCh911AM
      D2FH1brt1ANGjvMXidyaWnYSSqFAsoWRE8juJADUv+CpGXanLXX8fgR1U/3VACg7
      TkhinHXcyts3zIRXeZdARUOVeoinH4IcZidnjQOMFIDXyYAis+qxlmhe/u0whgy/
      BqZL0QKBgARaOCAnnJR3u9pM++6uAvteWdkkr6+x2hWKM+ouUeCttFmFggGQF58n
      og+DRdy93RLhAWK1+R9Osd5DuZjjJLVT1lEZwIiIKql2SErJskam/Az1fk0RXMEw
      OsLcdmi/46LHDflqbN6BuMlPniA+pTXZtr4OOUxmBb7eqsEApQzp
      -----END RSA PRIVATE KEY-----
      
container_commands:
  01killhttpd:
    command: "killall httpd"
  02waitforhttpddeath:
    command: "sleep 3"