
/* Slider back line*/
.input-range__track.input-range__track--background {
    color:white;
    border:1px solid black;
}
/* Label Texts */
.input-range__label-container{
    font-weight: bold;
    font-size:14px;
}

/* Hidden min max labels*/
.input-range__label.input-range__label--min,.input-range__label.input-range__label--max {
    display: none;
}
div.input-range * {
    font-family: Nunito, serif;
    color:rgba(0, 0, 0, 0.75);

}