<!doctype html>
<html>
<head>
		{% load static %}
	<meta charset="utf-8">
	<title>PIXLYBLOG</title>
	<meta name="msvalidate.01" content="AA71A9BE2236C4644B24EBC175F74307" />
	<meta name="description" id="head-description" content="Pixly Personal Cinema Assistant's blog page.
			Articles about tech and cinema." />
	<meta name="keywords" id="head-keywords" content="Recommender systems, collaborative filtering" />

	<meta name="google-site-verification" content="Mv2tGgYHLSWkWBXFEKphAXYSrASYqQWaNIj1cPlQy3Q" />
	<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
	<meta name="theme-color" content="#000000">
	<meta name="yandex-verification" content="2d04fbbbf5492cab" />

	<link rel="canonical" href="https://blog.pixly.app/index.html">

	<link rel="icon" type="image/png" href='https://s3.eu-west-2.amazonaws.com/cbs-static/static/images/favicon.ico'>
	<link rel="stylesheet" href='https://cbs-static.s3.eu-west-2.amazonaws.com/static/bundle/PIXLY_BLOG/global.css'>
	<link rel="stylesheet" href='https://cbs-static.s3.eu-west-2.amazonaws.com/static/bundle/PIXLY_BLOG/bundle.css'>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-141617385-2"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'UA-141617385-2');
	</script>


	<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({
			google_ad_client: "ca-pub-9259748524746137",
			enable_page_level_ads: true
		});
	</script>
<script async custom-element="amp-ad" src="https://cdn.ampproject.org/v0/amp-ad-0.1.js"></script>
	<script type="application/ld+json" id="richdata"></script>

</head>

<body>
	<div id="pixly"></div>
	<script src="https://cbs-static.s3.eu-west-2.amazonaws.com/static/bundle/PIXLY_BLOG/bundle.js"></script>

</body>
</html>