<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="msvalidate.01" content="AA71A9BE2236C4644B24EBC175F74307" />
    <meta name="description" content="Personalized Movie Recommendation Engine and Cultural Reference" />
    <meta name="google-site-verification" content="Mv2tGgYHLSWkWBXFEKphAXYSrASYqQWaNIj1cPlQy3Q" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#000000">
    <meta name="yandex-verification" content="2d04fbbbf5492cab" />

        <!-- Icons  -->
        <link rel="icon" type="image/ico" href="https://cbs-static.s3.eu-west-2.amazonaws.com/static/images/favicon.ico">
        <link rel="shortcut icon" type="image/x-icon"
            href="https://cbs-static.s3.eu-west-2.amazonaws.com/static/images/favicon.ico">
        
        
        <!-- Primary Meta Tags 
            <title>PIXLY - Personal Movie Recommendations and After Movie Journey</title>
            <meta name="title" content="PIXLY - Personal Movie Recommendations and After Movie Journey">
            <meta name="description" content="Personalized Movie Recommendation Engine and Cultural Reference" />
        -->
        
        <!-- Open Graph / 
            <meta property="og:type" content="website">
            <meta property="og:url" content="https://pixly.app/">
            <meta property="og:title" content="PIXLY - Personal Movie Recommendations and After Movie Journey">
            <meta property="og:description" content="Personalized Movie Recommendation Engine and Cultural Reference">
            <meta property="og:image" content="https://cbs-static.s3.eu-west-2.amazonaws.com/static/images/pixly-wide-zip.jpg">
            Facebook -->
        
        <!-- Twitter 
            <meta property="twitter:card" content="summary_large_image">
            <meta property="twitter:url" content="https://pixly.app/">
            <meta property="twitter:title" content="PIXLY - Personal Movie Recommendations and After Movie Journey">
            <meta property="twitter:description" content="Personalized Movie Recommendation Engine and Cultural Reference">
            <meta property="twitter:image" content="https://cbs-static.s3.eu-west-2.amazonaws.com/static/images/pixly-wide-zip.jpg">
        -->

    <!-- Google AdSense -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141617385-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-141617385-1');
    </script>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-P2HXDL6');</script>
    <!-- End Google Tag Manager -->

    
    <!-- WEBPACK OUTPUT -->
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,400,500,700|Playfair+Display:400,700&display=swap"
    rel="stylesheet">

    <link rel="icon" type="image/png" href="https://s3.eu-west-2.amazonaws.com/cbs-static/static/images/favicon.ico">



    <link href="https://s3.eu-west-2.amazonaws.com/cbs-static/static/bundle/dist/static/css/vendors~main.chunk.css.br"
        rel="stylesheet">
    <link href="https://s3.eu-west-2.amazonaws.com/cbs-static/static/bundle/dist/static/css/main.css.br" rel="stylesheet">

    <!--

  <link href="https://cbs-static.s3.eu-west-2.amazonaws.com/static/bundle/dist/css/main.css" rel="stylesheet">
  <link href="https://cbs-static.s3.eu-west-2.amazonaws.com/static/bundle/dist/css/vendors~main.chunk.css" rel="stylesheet">
  
  <link defer href="https://cbs-static.s3.eu-west-2.amazonaws.com/static/bundle/dist/css/middle.chunk.css" rel="stylesheet">
  <link defer href="https://cbs-static.s3.eu-west-2.amazonaws.com/static/bundle/dist/css/vendors~middle.chunk.css" rel="stylesheet">
  <link href="https://cbs-static.s3.eu-west-2.amazonaws.com/static/bundle/dist/build/static/css/vendors~main.chunk.css" rel="stylesheet">
  <link href="https://cbs-static.s3.eu-west-2.amazonaws.com/static/bundle/dist/build/static/css/main.css" rel="stylesheet">
-->
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P2HXDL6" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->


    <noscript>
        You need to enable JavaScript to run this app.
    </noscript>
    <div id="root"></div>
        
    <script src="https://s3.eu-west-2.amazonaws.com/cbs-static/static/bundle/dist/static/js/vendors~main.chunk.js.br" charset="utf-8"></script>
    <script src="https://s3.eu-west-2.amazonaws.com/cbs-static/static/bundle/dist/static/js/main.js.br" charset="utf-8"></script>

    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-9259748524746137",
            enable_page_level_ads: true
        });
    </script>

    <!--
        <script src="{% static 'bundle/dist/index_bundle.js.br' %}" charset="utf-8"></script>
    <script src="{% static 'bundle/dist/build/static/js/main.js' %}" charset="utf-8"></script>
    <script src="{% static 'bundle/dist/build/static/js/vendors~main.chunk.js' %}" charset="utf-8"></script>

    <script src="{% static 'bundle/dist/main.index_bundle.js' %}" charset="utf-8"></script>
    <script src="{% static 'bundle/dist/vendors.index_bundle.js' %}" charset="utf-8"></script>
    <script src="{% static 'bundle/dist/2.index_bundle.js' %}" charset="utf-8"></script>
    <script src="{% static 'bundle/dist/3.index_bundle.js' %}" charset="utf-8"></script>
    
    <script src="{% static 'bundle/dist/1.index_bundle.js' %}" charset="utf-8"></script>


    <script src="{% static 'bundle/dist/index_bundle.js' %}" charset="utf-8"></script>
    <script src="{% static 'bundle/dist/2.index_bundle.js' %}" charset="utf-8"></script>
    <script src="{% static 'bundle/dist/0.index_bundle.js' %}" charset="utf-8"></script>
    <script async src="{% static 'bundle/dist/1.index_bundle.js.br' %}" charset="utf-8"></script>
    <script src="{% static 'bundle/dist/js/main.js' %}" charset="utf-8"></script>
    <script src="{% static 'bundle/dist/js/vendors~main.chunk.js' %}" charset="utf-8"></script>
    
    <script src="{% static 'bundle/dist/js/middle.chunk.js' %}" charset="utf-8"></script>
    <script src="{% static 'bundle/dist/js/vendors~middle.chunk.js' %}" charset="utf-8"></script>
   
    <script src="{% static 'bundle/dist/index_bundle.js.br' %}" charset="utf-8"></script>
  -->

</body>

</html>