/**
 * Minified by jsDelivr using clean-css v4.2.1.
 * Original file: /npm/@tarekraafat/autocomplete.js@7.2.0/dist/css/autoComplete.css
 * 
 * Do NOT use SRI with dynamically generated files! More information: https://www.jsdelivr.com/using-sri-with-dynamic-files
 */
#autoComplete_wrapper {
	position: relative;
	padding-left: 6px;
	display: inline-block;
}
#autoComplete {
	position: relative;
	padding: 0 2rem 0 3.5rem;
	height: 40px;
	width: 60%;
	font-size: 20px;
	outline: 0;
	border-radius: 50rem;
	border: 3px solid rgb(52, 55, 199) !important;
	caret-color: rgb(52, 55, 199);
	color: rgba(0, 0, 0, 0.8);
	transition: all 0.4s ease;
	-webkit-transition: all -webkit-transform 0.4s ease;
	text-overflow: ellipsis;
}
#autoComplete::placeholder {
	color: rgba(24, 24, 24, 0.5) !important;
	font-weight: bold;
	transition: all 0.3s ease;
}
#autoComplete:hover::placeholder {
	color: rgba(52, 55, 199, 0.);
	transition: all 0.3s ease;
	-webkit-transition: all -webkit-transform 0.3s ease;
}

#autoComplete::selection {
	color: #181818;
}
#autoComplete:focus::selection {
	color: rgb(209, 10, 10);
	background-color: rgba(52, 55, 199, 1);
}
#autoComplete:hover,
#autoComplete:focus::selection,
#autoComplete:focus
 {
	padding: 0 2rem 0 3.5rem;
	color: rgba(0, 0, 0, 1);
	height: 50px;
    width: 70%;
    max-width: 90%;
	transition: all 0.3s ease;
	-webkit-transition: all -webkit-transform 0.3s ease;
}

@media only screen and (max-width: 600px) {
	#autoComplete {
		width: 16rem;
	}
	#autoComplete:hover,
	#autoComplete:focus {
        width: 24rem;
        max-width: 80%;
		background-size: 1.6rem;
		background-position: left 1.1rem top 0.75rem;
	}
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
	#autoComplete {
		border-width: 1px;
	}
	#autoComplete:hover,
	#autoComplete:focus {
		border-width: 1px;
	}

}
@-moz-document url-prefix() {
	#autoComplete {
		border-width: 1px;
		background-size: 1.2rem;
		background-origin: border-box;
		background-position: center;
	}
	#autoComplete:hover {
		border-width: 1px;
	}
	#autoComplete:focus {
		border-width: 1px;
		background-position: left 1.1rem top 0.8rem;
	}
}
